<div class="navigation">
  <div class="navigation--button-wrapper" [routerLink]="'./categories'" [routerLinkActive]="'selected'"><app-icon-button [icon]="'zelda'"></app-icon-button></div>
  <div class="navigation--button-wrapper" [routerLink]="'../category/creatures'" [routerLinkActive]="'selected'"><app-icon-button [icon]="'bug'"></app-icon-button></div>
  <div class="navigation--button-wrapper" [routerLink]="'../category/equipment'" [routerLinkActive]="'selected'"><app-icon-button [icon]="'sword'"></app-icon-button></div>
  <div class="navigation--button-wrapper" [routerLink]="'../category/materials'" [routerLinkActive]="'selected'"><app-icon-button [icon]="'carrot'"></app-icon-button></div>
  <div class="navigation--button-wrapper" [routerLink]="'../category/monsters'" [routerLinkActive]="'selected'"><app-icon-button [icon]="'skull'"></app-icon-button></div>
  <div class="navigation--button-wrapper" [routerLink]="'../category/treasure'" [routerLinkActive]="'selected'"><app-icon-button [icon]="'chest'"></app-icon-button></div>
  <div class="navigation--button-wrapper" [routerLink]="'./search'" [routerLinkActive]="'selected'"><app-icon-button [icon]="'search'"></app-icon-button></div>
</div>
