@use "abstracts/colors";
$block: 'navigation';

.#{$block} {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: colors.$primary-lighter-color;

  &--button-wrapper {
    &.active {
      background: colors.$primary-color;
    }
  }

}
