$block: 'category';

.#{$block} {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__title {
    margin-top: 0;
    text-transform: capitalize;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
  }
}
