@use "abstracts/animations";
@use "abstracts/colors";

$block: 'category';

.#{$block} {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  gap: 24px;

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 36px;
    justify-content: center;
    align-items: flex-start;
  }
}
