@use "abstracts/animations";
@use "abstracts/colors";

$block: 'category';

.#{$block} {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  gap: 24px;
  &__title {
    text-transform: uppercase;
    position: relative;
    color: colors.$text-inverted-color;
    transition: all .3s;
    &:after {
      content: '\00a0';
      display: block;
      position: absolute;
      height: 100%;
      width: 60vw;
      padding-block: 10px;
      transform: skew(40deg, 0) translate(-48%, -10px);
      background: rgb(35, 187, 124);
      top: 0;
      left: 50%;
      z-index: -1;
      animation: .3s grow-horizontal cubic-bezier(0.755, 0.050, 0.855, 0.060);
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 36px;
    justify-content: center;
    align-items: flex-start;
  }
}
