@use "abstracts/animations";
@use "abstracts/colors";
$block: 'card';

.#{$block} {
  display: flex;
  flex-direction: column;
  aspect-ratio: 16/9;
  min-width: 280px;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.09) 0 3px 12px;
  transform: scale(1);

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.2;
    transition: all .3s;
  }
  &:hover {
    &:before {
      opacity: 0.7;
    }
    .#{$block}__content {
      &:before {
        animation: .3s highlighter forwards;
        transform: skew(30deg, 0) translateX(-30%);
      }
    }
  }
  &__background {
    width: 100%;
    height: 100%;
    transition: all .3s;
    &--image {
      object-fit: cover;
      width: 100%;
      height: 100%;

    }
  }
  &__content {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    color: colors.$text-inverted-color;
    z-index: 1;
    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 70%;
      background: colors.$primary-color;
      transition: all .3s;
      z-index: -1;
    }
    &--title {
      padding: 0 18px;
      flex: 1 1 100%;
    }
  }
}
