<div class="navigation">
  <div class="navigation--button-wrapper" [routerLink]="'../category/creatures'" [routerLinkActive]="'selected'"><app-icon-button [icon]="'creatures'"></app-icon-button></div>
  <div class="navigation--button-wrapper" [routerLink]="'../category/equipment'" [routerLinkActive]="'selected'"><app-icon-button [icon]="'equipment'"></app-icon-button></div>
  <div class="navigation--button-wrapper" [routerLink]="'../category/materials'" [routerLinkActive]="'selected'"><app-icon-button [icon]="'materials'"></app-icon-button></div>
  <div class="navigation--button-wrapper" [routerLink]="'../category/monsters'" [routerLinkActive]="'selected'"><app-icon-button [icon]="'monsters'"></app-icon-button></div>
  <div class="navigation--button-wrapper" [routerLink]="'../category/treasure'" [routerLinkActive]="'selected'"><app-icon-button [icon]="'treasure'"></app-icon-button></div>
</div>
