@use '@angular/material' as mat;

@function define-palette($palette, $default: 500, $lighter: 100, $darker: 700,
$text: $default) {
  @return mat.define-palette($palette, $default, $lighter, $darker, $text);
}

@function define-light-theme($primary, $accent: null, $warn: define-palette(mat.$red-palette)) {
  @return mat.define-light-theme((
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    )
  ))
}

@function define-dark-theme($primary, $accent: null, $warn: define-palette(mat.$red-palette)) {
  @return mat.define-dark-theme((
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    )
  ))
}
