<aside class="layout__sidebar-right">
  <mat-nav-list>
    <a mat-list-item [routerLink]="'/accounts'">Right - Accounts </a>
    <a mat-list-item [routerLink]="'/create-account'">Right - Create Account</a>
    <a mat-list-item [routerLink]="'/contacts'">Right - Contacts </a>
    <a mat-list-item [routerLink]="'/create-contact'">Right - Create Contact </a>
    <a mat-list-item [routerLink]="'/activities'">Right - Activities </a>
    <a mat-list-item [routerLink]="'/create-activity'">Right - Create Activity </a>
  </mat-nav-list>
</aside>
