@use '@angular/material' as mat;
@use 'abstracts/functions' as f;
@use 'base/palettes' as p;

$theme-dark-primary: f.define-palette(p.$primary-dark-palette);
$theme-dark-accent: f.define-palette(p.$accent-dark-palette, A200, A100, A400);
$theme-dark-warn: f.define-palette(p.$warn-dark-palette);

$app-dark-theme: f.define-dark-theme($theme-dark-primary, $theme-dark-accent, $theme-dark-warn);

