@use '@angular/material' as mat;
@use 'abstracts/functions' as f;
@use 'base/palettes' as p;

$theme-primary: f.define-palette(p.$primary-palette);
$theme-accent: f.define-palette(p.$accent-palette, A200, A100, A400);
$theme-warn: f.define-palette(p.$warn-palette);

$app-theme: f.define-light-theme($theme-primary, $theme-accent, $theme-warn);

