<div class="toolbar-container">
  <mat-toolbar color="primary" class="toolbar-container__toolbar">
    <button mat-icon-button (click)="toggleAppMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Birds and reels</span>
    <span class="toolbar-container__toolbar--center-spacer"></span>
    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button (click)="toggleUserMenu()">
      <mat-icon>face</mat-icon>
    </button>
  </mat-toolbar>
</div>
