<div class="navigation">
  <ng-container *ngFor="let navRoute of NAVBAR_ROUTES">
    <div class="navigation--button-wrapper"
         [routerLink]="navRoute.path" #rla="routerLinkActive" [routerLinkActive]="ACTIVE_ROUTE_CLASS">
      <app-icon-button [color]="rla.isActive ? iconActiveColor : iconColor " [icon]="navRoute.icon"></app-icon-button>
    </div>
  </ng-container>
  <div class="navigation--button-wrapper">
    <app-icon-button [color]="iconColor" [icon]="getThemeIcon()" (buttonClick)="toggleTheme()"></app-icon-button>
  </div>
</div>
