@use "abstracts/colors";
$block: 'card-mini-ui';

.#{$block} {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 36px;
  width: 120px;
  height: 120px;
  background: colors.$primary-lighter-color;
}
