@use "abstracts/colors";
$block: 'card-mini-ui';

.#{$block} {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 180px;
  background: colors.$primary-lighter-color;
  cursor: pointer;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    &--title {
      color: colors.$primary-color;
    }

  }

}
