@use "abstracts/animations";
@use "abstracts/colors";

$block: 'categories';

.#{$block} {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
  }
}
