@use 'main';
$theme: main.$app-theme;
.dark-mode {
  $theme: main.$app-dark-theme;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'montserrat', sans-serif
}

:root {
  --primary-color: #{main.$primary-color};
  --primary-lighter-color: #{main.$primary-lighter-color};
  --primary-darker-color: #{main.$primary-darker-color};
  --primary-accent-color: #{main.$primary-accent-color};
  --text-color: #{main.$text-color};
  --text-inverted-color: #{main.$text-inverted-color};
}

:root.dark{
  --primary-color: #{main.$dark-primary-color};
  --primary-lighter-color: #{main.$dark-primary-lighter-color};
  --primary-darker-color: #{main.$dark-primary-darker-color};
  --primary-accent-color: #{main.$dark-primary-accent-color};
  --text-color: #{main.$dark-text-color};
  --text-inverted-color: #{main.$dark-text-inverted-color};
}
