@use '@angular/material' as mat;

$primary-palette: mat.$teal-palette;
$accent-palette: mat.$cyan-palette;
$warn-palette: mat.$teal-palette;

$primary-dark-palette: mat.$blue-grey-palette;
$accent-dark-palette: mat.$deep-purple-palette;
$warn-dark-palette: mat.$deep-orange-palette;
