@font-face {
  font-family: 'montserrat-black-italic';
  src: url('~src/assets/fonts/Montserrat-BlackItalic.ttf');
}

@font-face {
  font-family: 'montserrat-black';
  src: url('~src/assets/fonts/Montserrat-Black.ttf');
}

@font-face {
  font-family: 'montserrat-extra-bold-italic';
  src: url('~src/assets/fonts/Montserrat-ExtraBoldItalic.ttf');
}

@font-face {
  font-family: 'montserrat-extra-bold';
  src: url('~src/assets/fonts/Montserrat-ExtraBold.ttf');
}

@font-face {
  font-family: 'montserrat-bold';
  src: url('~src/assets/fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'montserrat-semibold';
  src: url('~src/assets/fonts/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: 'montserrat';
  src: url('~src/assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'montserrat-light';
  src: url('~src/assets/fonts/Montserrat-Light.ttf');
}


